aiofiles==0.3.2
cycler==0.10.0
decorator==4.2.1
httptools==0.0.10
kiwisolver==1.0.1
matplotlib==2.2.2
networkx==2.1
numpy==1.14.2
opencv-python==3.4.0.12
Pillow==5.0.0
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
PyWavelets==0.5.2
sanic==0.7.0
Sanic-Cors==0.9.3
Sanic-Plugins-Framework==0.5.2.dev20180201
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
ujson==1.35
uvloop==0.9.1
websockets==4.0.1
