aiofiles==0.3.2
APScheduler==3.5.1
asn1crypto==0.23.0
Beaker==1.5.4
blivet==2.1.11
blivet-gui==2.1.7
Brlapi==0.6.6
cffi==1.10.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
coverage==4.4.2
cryptography==2.0.2
cupshelpers==1.0
cycler==0.10.0
decorator==4.2.1
fros==1.1
gpg==1.9.0
httptools==0.0.10
humanize==0.5.1
idna==2.5
iniparse==0.4
IPy==0.81
isc==2.0
kiwisolver==1.0.1
langtable==0.0.38
Mako==1.0.6.dev0
MarkupSafe==0.23
matplotlib==2.2.2
netifaces==0.10.6
networkx==2.1
nine==0.3.4
ntplib==0.3.3
numpy==1.14.2
numpy-stl==2.2.3
olefile==0.45.1
opencv-python==3.4.0.12
ordered-set==2.0.0
pid==2.1.1
Pillow==5.0.0
ply==3.9
pwquality==1.4.0
pycairo==1.15.3
pycparser==2.14
pycups==1.9.72
pycurl==7.43.0
pydbus==0.6.0
pyenchant==1.6.10
pygobject==3.26.1
pyinotify==0.9.6
PyIscsi==1.0
pykickstart==2.41
pyOpenSSL==17.2.0
pyparsing==2.2.0
pyparted==3.11.0
pyserial==3.1.1
PySocks==1.6.7
python-augeas==0.5.0
python-dateutil==2.7.0
python-dmidecode==3.12.2
python-meh==0.43
python-utils==2.1.0
pytz==2018.3
pyudev==0.21.0
PyWavelets==0.5.2
pyxdg==0.25
requests==2.18.4
requests-file==1.4
requests-ftp==0.3.1
rpm==4.14.1
sanic==20.12.6
Sanic-Cors==0.9.3
Sanic-Plugins-Framework==0.5.2.dev20180201
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
sepolicy==1.1
setools==4.1.1
setroubleshoot==1.1
simpleline==0.6
six==1.11.0
sklearn==0.0
slip==0.6.4
slip.dbus==0.6.4
sos==3.5
SSSDConfig==1.16.1
systemd-python==234
tzlocal==1.5.1
ujson==1.35
urllib3==1.22
uvloop==0.9.1
websockets==4.0.1
wrapt==1.10.10
zeroconf==0.19.1
